*
{
	font-size: 16px;
}

body
{
	font-family: Georgia,serif;
	line-height: 1.5;
	padding:0;
	margin:0;
	color:white;
	background-color: black;
}

.frame
{
	width:80%;
	margin:auto;
	overflow:hidden;
}

header
{
	background:#b3b3b3;
	color:white;
	padding-top:30px;
	border-bottom:#ffc61a 3px solid;
	min-height:75px;
}

header a{
	color:white;
	text-decoration:none;
}

header ul
{
	padding:0;
	margin:0;
}

header li
{
	float:left;
	display:inline;
	padding: 0 15px 0 15px;
}

#brand
{
	float:left;
}

#brand h1
{
	margin:0;
}

header nav
{
	float:right;
	margin-top: 15px;
}


/*Showcase*/

#pressdiv
{
	display: inline;
	position: absolute;
	left: 0px;
	top: 10px;
	border: #ffc61a 1px solid;
	color: #ffc61a;
	background-color: white;
	opacity: 0.8
}

#textcolbtn
{
	position: absolute;
	
	left: 0px;
	bottom: 0px
}

#showcase
{
	min-height:400px;
	background:url('showcasepic.jpg') no-repeat 0 -450px;
	text-align:center;
	color:white;
	text-shadow: 2px 2px 4px black;
	border-bottom:#ffc61a 3px solid;
	position: relative;
}

#showcase h1
{
	margin-top:110px;
	font-size: 3.7em;
}

#showcase p
{
	margin-top:170px;
	font-size: 1.3em;
}

/*Boxes*/
#boxes
{
	position: relative;
	top:40px;
}


#boxes,#divbgchange
{
	margin-top:30px;
	text-align: center;
	
	
}

#divbgchange
{
	position: relative;
	top:20px;
}

.bgchange
{
	border: 1px white solid;
}

#bgchange2
{
	top: 30px;
	right: 50px;
	z-index: 2;
	opacity: .8;
}

#bgchange3
{
	top: 60px;
	right: 70px;
	z-index: 1;
	opacity: .8;
}

.bgchange
{
	height: 200px;
	width:300px;
	position:relative;
}

#boxes .box
{	
	float:left;
	width:30%;
	padding:15px;
	text-align:center;
}

#boxes .box img
{
	width:90px;
	height:auto;
}

.showimg
{
	width:30%;
}

footer{
	padding:20px;
	margin-top:20px;
	text-align:center;
	border-top:#ffc61a 1px solid;;
}

.subtitle
{text-align: center;
font-size: 2em;
color: #ffc61a;}

article p:nth-of-type(2n+1)
{border:#ffc61a 1px solid;}

/* Sidebar */
aside#sidebar
{
	float:right;
	width:30%;
	margin-top:10px;
}

button
{
	margin-bottom: 10px;
}

#testy
{
	position: fixed;
}


#textcolbtn
{
	background-color: #ffc61a;
    color: white;
    padding:8px;
    font-family: Georgia,serif;
    border: none;
    cursor: pointer;
}

.dropbtn {
    background-color: #ffc61a;
    color: white;
    padding: 16px;
    font-family: Georgia,serif;
    border: none;
    cursor: pointer;
    position: relative;

}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ffc61a;}

.show {display: block;}

/*Article*/
article{
	float:left;
	width:65%;
}

/*Imgs from Sidebar*/

aside img
{
	width:90%;
	padding:10px;
	border: 2px #ffc61a solid;
}

aside figcaption
{
	text-align: center;
}

@media only screen and (max-width: 1200px) {
    #boxes
    {
    	display: none
    }
    .bgchange,#partest
    {display:none;}
}

@media only screen and (max-width: 600px) {
    aside
    {
    	display: none
    }

    article{
    text-align: center;
	float:center;
	width:90%;
}
}

 

@media only screen and (min-width: 1100px) {
  
nav a:hover
{
transition: padding 1s;
background-color: black;
padding:15px;
border:#ffc61a 1px solid;
}

nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	color: white;
	 }

.current
{
	background-color:#ffc61a;
	padding:15px;
	border:black 1px solid;
}

}

@media only screen and (max-width: 1100px)
{
	.current
{
	color:#ffc61a;
}
	
	nav a:hover
	{
		color:black;
	}



}

@keyframes mickey
{
	50%{transform:rotate(40deg);}
}

#img1:hover
{
	animation-name: mickey;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#img3:hover
{
transition: transform 5s;	
transform:rotateY(360deg);
}

#img2:hover
{
transition: transform 5s;	
transform:skewY(160deg);
}


#showmore {
    background-color: #ffc61a;
    color: white;
    padding: 16px;
    font-family: Georgia,serif;
    border: none;
    cursor: pointer;

}

#randmovie
{	
	display: inline-block;
	position: relative;
	border: #ffc61a 1px solid;
	
}

#cadru
{
	border: 1px solid white;
	height: 180px;
	
}